@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #6C63E8;
}

body {
  background-color: #131821;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select option {
  background-color: #1c2232;
  color: white;
}
